<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>home page</title>
	<link rel="stylesheet" type="text/css" href="css/rex.css">
</head>
<body>

	<form action="/auth" method="post">
	
	<legend>username</legend>
<input type="name" name="username">
<legend>password</legend>
<input type="password" name="password">
<br><br>
<input type="submit" value="login" style="color:blue;">	
	</form>

</body>
</html>