<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>user dashboard</title>
</head>
<body>
<h1 style="color:green;">hello <%=username%> Welcome to  SOLOHITECH  <i>dashboard</i></h1>
<h4 style=color:brown;>and your password is <%= password %></h4>
<p style="color: red;">ensure to keep your detail save and private!!</p>
</body>
</html>